@import "normalize.scss";

.container {
   max-width: 550px;
   margin: 0 auto;
   padding: 15vh 10px;
}

.table {
   position: relative;

      &__end-game-block{
         position: absolute;
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         z-index: 1000;
         background-color: black;
         opacity: .9;
         flex-direction: column;
         &.non-active{
            display: none;
         }
      }

      &__end-game-text {
         font-size: 50px;
         margin-bottom: 30px;
         color:white;
         text-align: center;
      }

      &__end-game-button {
         width: 150px;
         height: 50px;
         font-size: 25px;
         font-weight: 600;
         &:hover{
            transform: scale(1.05);
         }
      }
      
		&__wrapper {
         display: flex;
         flex-direction: column;
		}

		&__row {
         height: 150px;
         display: flex;
         &:nth-child(1) {
            .table__cell {
               border-top : none;
            }
         }
         &:nth-child(3) {
            .table__cell {
               border-bottom : none;
            }
         }
		}

		&__cell {
         border:2px solid black;
         height: 100%;
         flex: 0 0 33%;
         position: relative;
         &:nth-child(1) {
            border-left: none;
         }
         &:nth-child(3) {
            border-right: none;
         }
         &.x-placed{
            &::before,
            &::after {
               content: '';
               width: 10%;
               height: 80%;
               background-color: black;
               position: absolute;
               left:45%;
               top:10%;
            }
            &::before{
               transform:rotate(45deg);
            }
            &::after{
               transform:rotate(-45deg);
            }
         }
         &.zero-placed{
            &::after {
               content: '';
               width: 80%;
               height: 80%;
               background-color: black;
               position: absolute;
               left:50%;
               top:50%;
               transform:translate(-50%,-50%);
               border-radius: 50%;
               z-index: 3;
            }
            &::before {
               z-index: 100;
               content: '';
               width: 66%;
               height: 66%;
               background-color: #fff;
               position: absolute;
               left:50%;
               top:50%;
               transform:translate(-50%,-50%);
               border-radius: 50%;
            }
         }
      }

}


//Styles for hover on cell, when player want to place X or Zero
.current-x {
   .table__cell{
      &:hover{
         &:not(.x-placed):not(.zero-placed){
            &::before,
            &::after {
               content: '';
               width: 10%;
               height: 80%;
               background-color: #cccaca;
               position: absolute;
               left:45%;
               top:10%;
            }
            &::before{
               transform:rotate(45deg);
            }
            &::after{
               transform:rotate(-45deg);
            }
         }
      }
   }
}

.current-zero {
   .table__cell{
      &:hover{
         &:not(.x-placed):not(.zero-placed){
            &::after {
               content: '';
               width: 80%;
               height: 80%;
               background-color: #cccaca;
               position: absolute;
               left:50%;
               top:50%;
               transform:translate(-50%,-50%);
               border-radius: 50%;
               z-index: 3;
            }
            &::before {
               z-index: 100;
               content: '';
               width: 66%;
               height: 66%;
               background-color: #fff;
               position: absolute;
               left:50%;
               top:50%;
               transform:translate(-50%,-50%);
               border-radius: 50%;
            }
         }
      }
   }
}


